<h1>Join us</h1>
<% errors = @entity.errors %>
<%= form_for @entity do |form| %>
    <%= error_div errors do %>
        <%= content_tag :h2, "#{pluralize(errors.count, 'error')} prohibited this user from being saved:" %>
        <%= error_list errors %>
    <% end %>
  <%= form.label :entity_name, 'Company Name' %>
  <%= form.text_field :entity_name %>
  <%= form.label :entity_email, 'Email' %>
  <%= form.text_field :entity_email %>
  <%= form.label :entity_telephone_number, 'Contact number' %>
  <%= form.text_field :entity_telephone_number %>
  <%= form.hidden_field :categories, id: 'entity_categories' %>
  <%= form.submit 'Awesome', id: 'new' %>
<% end %>
<section class="wrapper">
  <section class="choose-types">
    <h2>Types</h2>
  </section>
</section>