<%= form_for [@entity, @coupon] do |form| %>
    <% if @coupon.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@coupon.errors.count, 'error') %> prohibited this line_item from being saved:</h2>

          <ul>
            <% @coupon.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <%= form.label :coupon_name %>
    <%= form.text_field :coupon_name %>
    <%= form.label :coupon_msg %>
    <%= form.text_field :coupon_msg %>
    <%= form.label :coupon_num %>
    <%= form.number_field :coupon_num, min: 1%>
    <section id="img_container" style="display: none">

    </section>
    <%= form.label :coupon_image %>
    <%= form.file_field :coupon_image, id:'img_change' %>
    <%= form.submit %>
<% end %>