      <section id='contact_us'>
            <h1>Contact Us</h1>
            <form class='form-group' {{action 'send_email' on='submit'}}>
                  {{ input type='email' placeholder='example@example.com' }}
                  {{ textarea placeholder='feedback - reply - congratz :)' rows= '10' cols='15' maxlength='150' }}
                  <label>Want to be awesome? <strong>Join us</strong></label>
                  {{ input type='tel' placeholder='Contact Number' }}
                  <button {{action 'send_email'}} class="btn btn-small">Send</button>
            </form>
      </section>
