<h1>
  <%= type ? type : '' %> Categories
</h1>
<section class="categories">
  <% @categories.each do |category| %>
      <div class="category"
           title="<%= category.category_description %>"
           data-category="<%= category.category_name %>"
           <% if type %>
             data-category-type="<%= type %>"
           <% end %>
      >
        <h2><%= category.category_name %></h2>
      </div>
  <% end %>
</section>