<!DOCTYPE html>
<html>
<head>
  <title>SmartOut</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script type="text/x-handlebars">
      <header class="navbar navbar-inverse" id="header_region">
          <nav class="navbar-inner .navbar-static-top">
                <a class="brand" href="#">SmartOut</a>
                <ul class="nav">
                      <li class="active"><%= link_to 'Home', '#' %></li>
                      <li> <%= link_to 'About us', '#' %> </li>
                      <li> <%= link_to 'Admins', '#' %> </li>
                      <li> {{#linkTo 'smartout'}} Contact us {{/linkTo}} </li>
                      <li> {{#linkTo 'entities'}} Add Companies {{/linkTo}} </li>
                </ul>
          </nav>
      </header>
      <div class="container-fluid">
            <div class="row-fluid">
                  <section class="container span2" id="validation_region">
                        <form class="navbar-form pull-right">
                             <input type="text" class="input-medium" placeholder="Validation key" required>
                             <button type="submit" class="btn btn-block">Validate</button>
                        </form>
                  </section>
                  <section class="container span7" id="main_region">
                       <h1>SmartOut</h1>
                       <!-- <%= yield %> -->
                       {{outlet}}
                  </section>
            </div>
      </div>
</script>
<footer id="footer_region">
</footer>
<script type="text/x-handlebars" data-template-name="entities">
      <table class="table" id="entity-list">
        <thead>
          <td>Name</td>
          <td>E-mail</td>
          <td>Contact number</td>
        </thead>
        <tbody>
        {{#each controller}}
          <tr>
            <td><label>{{entity_name}}</label></td>
            <td><label>{{entity_email}}</label></td>
            <td><label>{{entity_telephone_number}}</label></td>
          </tr>
        </tbody>
        {{/each}}
      </table>
</script>
<%= javascript_include_tag "application" %>
<!--<%= javascript_include_tag params[:controller]  %> -->
</body>
</html>