<!DOCTYPE html>
<html>
<head>
  <title>SmartOut</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header class="navbar .navbar-static-top navbar-inverse" id="header_region">
    <div class="navbar-inner">
          <a class="brand" href="#">SmartOut</a>
          <ul class="nav">
                <li class="active"><%= link_to 'Home', '#' %></li>
                <li> <%= link_to 'About us', '#' %> </li>
                <li> <%= link_to 'Admins', '#' %> </li>
                <li> <%= link_to 'Contact us', '#' %> </li>
                <li> <%= link_to 'Add Companies', '#entities', id: 'entities_view' %> </li>
          </ul>
    </div>
</header>

<script type="text/x-handlebars">
      <div class="container-fluid">
            <div class="row-fluid">
                  <section class="span2" id="validation_region">
                        <form class="navbar-form pull-right">
                             <input type="text" class="input-medium" placeholder="Validation key" required>
                             <button type="submit" class="btn btn-block">Validate</button>
                        </form>
                  </section>
                  <section class="container span7" id="main_region">
                        <%= yield %>
                       {{outlet}}
                  </section>
            </div>
      </div>
</script>
<footer id="footer_region">
</footer>

<script type="text/x-handlebars" data-template-name="entities">
      <ul id="entity-list">
           {{#each controller}}
                       <li>
                            <label>{{entity_name}}</label>
                            <label>{{entity_email}}</label>
                            <label>{{entity_telephone_number}}</label>
                       </li>
           {{/each}}
      </ul>
</script>
<%= javascript_include_tag "application" %>
<%= javascript_include_tag params[:controller]  %>
</body>
</html>
