<!DOCTYPE html>
<html>
<head>
  <title>SmartOut</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<script type="text/x-handlebars">
      <header class="navbar navbar-static-top" id="header_region">
          <nav class="navbar-inner">
                <a class="brand" href="#">SmartOut</a>
                <ul class="nav">
                      <li><%= link_to 'Home', '#' %></li>
                      <li> <%= link_to 'About us', '#' %> </li>
                      <li> <%= link_to 'Admins', '#' %> </li>
                      <li> {{#linkTo 'smartout'}} Contact us {{/linkTo}} </li>
                      <li> {{#linkTo 'entities'}} Add Companies {{/linkTo}} </li>
                </ul>
                <form class="navbar-form form-horizontal pull-right" id="validation_region">
                        <input type="text" class="input-medium" placeholder="Validation key" required>
                        <button type="submit" class="btn">Validate</button>
                </form>
          </nav>
      </header>
      <div id="fondo">
      </div>
      <div id="logo">
      </div>
      <div class="container">
                <section class="" id="main_region">
                     <!-- <%= yield %> -->
                     <div><h1> SmartOut </h1></div>
                     {{outlet}}
                </section>
      </div>
</script>
<script type="text/x-handlebars" data-template-name="index">
<div class="smartout-menu">
    <%= image_tag "comida.png", alt: "Let's go eat" %>
    <%= image_tag "shots.png", alt: "Let's go drink" %>
    <%= image_tag "party.png", alt: "Let's go party" %>
</div>
</script>
<footer id="footer_region">
</footer>
<script type="text/x-handlebars" data-template-name="entities">
      <table class="table" id="entity-list">
        <thead>
          <td>Name</td>
          <td>E-mail</td>
          <td>Contact number</td>
        </thead>
        <tbody>
        {{#each controller}}
          <tr>
            <td><label>{{entity_name}}</label></td>
            <td><label>{{entity_email}}</label></td>
            <td><label>{{entity_telephone_number}}</label></td>
          </tr>
        </tbody>
        {{/each}}
      </table>
</script>
<%= javascript_include_tag "application" %>
<!--<%= javascript_include_tag params[:controller]  %> -->
</body>
</html>