<!DOCTYPE html>
<html>
<head>
  <title>Entities</title>
  <%= stylesheet_link_tag    "coupons" %>
  <%= stylesheet_link_tag    "scaffolds" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "jquery-ui" %>
  <%= javascript_include_tag "jquery_ujs" %>
  <%= javascript_include_tag "coupons" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
